body{
	margin: 0;
	padding: 0;
	background-color: rgb(21, 20, 20);
		height: 100vh;
	width: 100vw;
	
}

main{
	position: relative;
	height: 80%;
	width: 70%;
	top: 10%;
	left: 15%;
	border-radius: 5px;
	background: rgba(34, 33, 33, 0.6);
	box-shadow: 0px 0px 8px 1px lightblue;
}

.h1-style{
	text-align: center;
	font-size: 5rem;
	font-family: monospace;
	font-weight: 500;
	color: white;
	text-decoration: important;
}

.p-style{
	text-align: center;
	font-size: 1rem;
	font-family: cursive;
	color: #c19376;
	margin-top: -10px;
}

form{
	text-align: center;
	margin-bottom: 1.5rem;
}

input{
	color: black;
	text-align: center;
	font-family: unset;
	border: none;
	background: #efefef;
}

.submit-button{
	background: #d42b2b;
	color: white;
	font-size: 1.1rem;
	border: none;
}

hr{
	color: white;
}

.form-desc{
	margin-top: 1.5rem;
	font-weight: 400;
	color: #c19376;
	font-family: sans-serif;
	text-align: center;
	font-size: 1.2rem;
}

#files-container{
	width: 40%;
	height: 50%;
	overflow: auto;
	background: rgb(0, 0, 0,0.2);
	margin: auto;
}

.file{
	width: 90%;
	height: 20%;
	margin: auto;
	background: black;
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	padding: 0.9rem;
}

.file-name{
	color: lightgrey;
	width: 75%;
}

.file-open-button{
	background: blue;
	width: 3rem;
	text-align: center;
}

.file-open-button:hover{
	opacity: 0.5;
}

.file-open-button a{
	text-decoration: none;
	color: lightgrey;
	font-size: 0.8rem;
}

.file a{
	text-decoration: none;
	color: lightgrey;
	margin-top: 0.1rem;
}

::-webkit-scrollbar {
    display: none;
}

/* Media Queries */
@media screen and (max-width:600px) {
	html{
		font-size: 9px;
	}
	main{
	    height: 80%;
	    width: 90%;
	    top: 5%;
	    left: 5%;
	}
	#files-container{
		width: 80%;
	}
	.file{
		width: 90%;
		height: 15%;
		padding: 1.2rem;
	}
	.file-open-button a{
		font-size: 0.8rem;
	}

	.file-open-button{
		width: 3rem;
		height: 2rem;
		padding-top: 0.2rem;
	}
	.h1-style{
		margin-top: 1rem;
	}
}